h3.title {
  margin-bottom: 28px;
  padding-left: 15px;
}
ul.table_list {
  max-width: 15rem;
  left: calc(50% + 400px);
  top: 50px;
  position: fixed;
  display: flex;
  flex-direction: column;
  border-radius: 0.25rem;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  max-height: 500px;
}

.table_list li {
  padding: 0.25rem;
  margin-bottom: 1em;
  line-height: 1rem;
  list-style: none;
}

.table_list a {
  text-decoration: none;
  color: var(--color-primary);
}
.table_list a:hover {
  transition-duration: 300ms;
  color: rgba(167, 139, 250, 1);
  text-decoration: none;
}

.table_list a.active {
  transition-duration: 300ms;
  color: rgba(167, 139, 250, 1);
  text-decoration: none;
  border-radius: 0.125rem;
}
.headings {
  overflow: scroll;
}
